.blurred-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 25%;
    height: 100%;
    background-color: rgba(79, 79, 79, 0.5);
    backdrop-filter: blur(2px);
    z-index: 1; /* Assicurati che il background sia dietro al menù */
}

#center {
    position: fixed;
    top: 10%;
    left: 42.5%;
    width: 50%;
    height: 80%;
    display: block;
    font-size: 1vw;
    z-index: 0; /* Assicurati che il centro sia dietro al menù */
}

body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.container {
    width: 100%;
    height: 100%;
    background-image: url('sfondo.png');
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
}

ul {
    list-style: none;
    padding: 0;
}

li a {
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    color: white;
    transition: color 0.3s;
}

li a:hover {
    color: #B0E0E6;
}

.start-menu {
    font-size: 1.5vw;
    position: absolute;
    top: 50%;
    left: 40%;
    font-family: 'Anton', sans-serif;
}

#logo {
    position: absolute;
    top: 5%;
    width: 35%;
    left: 32.5%;
    z-index: 2; /* Assicurati che il logo sia sopra il background */
}

#logo-yt {
    position: absolute;
    top: 90%;
    left: 50%;
    width: 10%;
    z-index: 2; /* Assicurati che il logo sia sopra il background */
}

#logo-insta {
    position: absolute;
    top: 89%;
    left: 40%;
    width: 10%;
    z-index: 2; /* Assicurati che il logo sia sopra il background */
}

#logo-grande {
    position: absolute;
    top: 40%;
    width: 35%;
    left: 25%;
    z-index: 2; /* Assicurati che il logo sia sopra il background */
}

.menu-icon {
    font-size: 30px;
    cursor: pointer;
    display: none; /* Nascondi per schermi grandi */
    position: absolute;
    top: 5%; /* Stessa altezza del logo piccolo */
    right: 20px; /* Distanza dal right per migliorare la visibilità */
    color: white;
    width: 50px; /* Larghezza del contenitore */
    height: 50px; /* Altezza del contenitore */
    line-height: 50px; /* Allinea verticalmente il contenuto */
    text-align: center; /* Allinea orizzontalmente il contenuto */
    z-index: 3; /* Assicurati che l'icona sia sopra il menù */
}

.navbar {
    display: none; /* Nascondi menù per schermi piccoli */
    background-color: black; /* Aggiungi sfondo nero quando il menù è visibile */
    width: 100%;
    height: 80%;
    position: absolute; /* Sovrappone il menù */
    top: 120px; /* Posiziona il menù sotto l'header */
    left: 0;
    flex-direction: row; /* Disponi i link in orizzontale */
    justify-content: center; /* Centra i link orizzontalmente */
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 4; /* Assicurati che il menù sia sopra gli altri elementi */
}

.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex; /* Utilizziamo flexbox per disporre i link in orizzontale */
}

.navbar li {
    margin: 10px;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 10px;
}

@media screen and (max-width: 768px) {
    .menu-icon {
        display: block; /* Mostra per schermi piccoli */
        top: 35%; /* Allinea con il logo piccolo */
    }

    .navbar.show {
        display: flex; /* Mostra menù se classe 'show' è presente */
    }

    .navbar {
        flex-direction: column; /* Disponi i link in colonna per schermi piccoli */
        align-items: center; /* Centra i link verticalmente */
        font-size: 3.0vw;
        font-family: 'Anton', sans-serif;
        top: 50px; /* Modifica per evitare sovrapposizione */
    }

    .blurred-background {
        width: 100%; /* Modifica la larghezza del blur background al 100% */
        height: 25%;
        background-color: black;
    }

    #center {
        width: 90%; /* Modifica la larghezza del contenitore centrale al 100% */
        left: 2.5%; /* Posiziona il contenitore centrale al 0% della larghezza dello schermo */
        top: 30%; /* Posiziona il contenitore centrale sotto il menù */
        height: auto; /* Riduci l'altezza del contenitore per adattarsi allo schermo */ 
    }

    .start-menu {
        display: none; /* Nascondi il menu principale */
    }

    #logo {
        width: 20%;
        left: 5%;
        top: 35%; /* Stessa altezza dell'icona del menù */
    }

    #logo-grande {
        width: 70%; /* Riduci la dimensione dei loghi */
        left: 15%; /* Centra i loghi */
    }

    #logo-yt,
    #logo-insta {
        display: none; /* Nascondi i loghi dei social per schermi piccoli */
    }

    h1 {
        font-size: 2rem;
    }

    p {
        font-size: 1rem;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 10px;
    }
}
